<app-nav-bar></app-nav-bar>

<div class="container ">
    <div class="row mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table font-monospace ">
                <thead class="bg-light">
                    <tr>

                
                        <th scope="col">Product Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Manufacturing Date</th>
                        <th scope="col">Expiry Date</th>
                        <th scope="col">Price</th>
                        <th scope="col">Seller Name</th>
                        <th scope="col">Distributor Name</th>
                        

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of product">
                                         
                        <td>{{i.productCode}}</td>
                        <td>{{i.productName}}</td>
                        <td>{{i.brand}}</td>
                        <td>{{i.manDate}}</td>
                        <td>{{i.expDate}}</td>
                        <td>{{i.price}}</td>
                        <td>{{i.sellerName}}</td>
                        <td>{{i.distributorName}}</td>
                    
                  
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>